---

- name: "Install goreleaser"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "goreleaser.yml"
  tags: goreleaser

- name: "Install chglog"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "chglog.yml"
  tags: chglog

- name: "Install d2"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "d2.yml"
  tags: d2

- name: "Install jwt-cli"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "jwt-cli.yml"
  tags: jwt-cli

- name: "Install task"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "task.yml"
  tags: task

- name: "Install usql"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "usql.yml"
  tags: usql

- name: "Install venom"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "venom.yml"
  tags: venom

- name: "Install pre-commit"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "pre-commit.yml"
  tags: pre-commit

- name: "Install sqlc"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "sqlc.yml"
  tags: sqlc

- name: "Install k6"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "k6.yml"
  tags: k6

- name: "Install pet"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "pet.yml"
  tags: pet

- name: "Install nfpm"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "nfpm.yml"
  tags: nfpm

- name: "Install hadolint"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "hadolint.yml"
  tags: hadolint

- name: "Install act"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "act.yml"
  tags: act

- name: "Install pgweb"
  ansible.builtin.import_role:
    name: "sgaunet.gh_role_installer"
    vars_from: "pgweb.yml"
  tags: pgweb
############################################
- name: "Install tbls"
  ansible.builtin.include_role:
    name: sgaunet.gh_role_installer
    vars_from: tbls.yml
  tags: tbls

- name: "Install dive"
  ansible.builtin.include_role:
    name: sgaunet.gh_role_installer
    vars_from: dive.yml
  tags: dive

- name: "Install devpod"
  ansible.builtin.include_role:
    name: sgaunet.gh_role_installer
    vars_from: devpod.yml
  tags: devpod

- name: "Install golangci-lint"
  ansible.builtin.include_role:
    name: sgaunet.gh_role_installer
    vars_from: golangci-lint.yml
  tags: golangci-lint

- name: "Install devbox"
  ansible.builtin.include_role:
    name: sgaunet.gh_role_installer
    vars_from: devbox.yml
  tags: devbox

- name: "Install gh"
  ansible.builtin.include_role:
    name: sgaunet.gh_role_installer
    vars_from: gh.yml

- name: "Install glab"
  ansible.builtin.include_role:
    name: sgaunet.glab

- name: "Install ansible-summary"
  ansible.builtin.include_role:
    name: sgaunet.gh_role_installer
    vars_from: ansible-summary.yml

- name: "Install gitlab-token-expiration"
  ansible.builtin.include_role:
    name: sgaunet.gh_role_installer
    vars_from: gitlab-token-expiration.yml

- name: "Install wait4x"
  ansible.builtin.include_role:
    name: sgaunet.gh_role_installer
    vars_from: wait4x.yml

- name: "Install gitlab-mcp"
  ansible.builtin.include_role:
    name: sgaunet.gh_role_installer
    vars_from: gitlab-mcp.yml

- name: "Install postgresql-mcp"
  ansible.builtin.include_role:
    name: sgaunet.gh_role_installer
    vars_from: postgresql-mcp.yml


- name: "Install gitcommit"
  ansible.builtin.include_role:
    name: sgaunet.gh_role_installer
    vars_from: gitcommit.yml

- name: "Install tailwindcss"
  ansible.builtin.include_role:
    name: sgaunet.gh_role_installer
    vars_from: tailwindcss.yml
